*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    margin: 0px!important;
}


.app {
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    background-color: #F7FCFC;
  }

  /* .title-banner {
      width: 100%;
      margin: 0 auto;
      background-color: #111826;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 20px 0px;
  } */


  .title-banner {
    padding-left: 4rem;
    padding-right: 4rem;
    width: 100%;
    height: 100%;
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 215px;
    grid-auto-flow: column;
    align-items: center;
    /* background: transparent; */
    /* position: relative; */
    /* z-index: 999; */
    background-color: #111826;
    color: #fff;
  }

  .logo {
      /* display: inline-block; */
      display: grid;
      grid-template-columns: 50px 300px;
  }

  .button-nav {
    /* justify-content: end;
    float: right; */
  }



  h1.title {
      font-size: 1rem;
      margin-bottom: 0px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700!important;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
  }

  h2.title-two {
    font-size: 1.2rem;
    padding: 0px 0px;
    color: #494949;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0rem 0rem 1rem 0rem;
  }



  .title-banner img {
      width: 35px;
  }

  .ad-units {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
  }

  .left {
      /* background-color: blue; */
      text-align: center;
      
  }

  .right {
    /* background-color:green; */
    text-align: center;
}

.right video {
    /* max-width: 420px;
    max-height: 340px; */
}

.Config {
    /* margin-top: 40px; */
}

.Config button {
    padding: 10px 30px;
    background-color: #514FE2;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: "Montserrat", Sans-serif;
    font-weight: 700;
}

.Config button:hover {
    transition: background .2s;
    background-color: #112CAF;
}


@media only screen and (max-width: 1400px) {
    .grid-three {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        height: 250px;
    }
}


@media only screen and (max-width: 900px) {
    .ad-units {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .Config {
        margin-bottom: 40px;
    }
}